body{
    background-image: url('https://cdn.pixabay.com/photo/2018/05/28/12/09/time-3435879__340.jpg');
background-repeat: no-repeat;
background-size: cover;
overflow-y: hidden;
margin: 0%;
padding: 0%;


}

.globl{
    background-color: rgba(117, 114, 114, 0.308);
    width: 50rem;
    height: 20rem;
   margin-left: 16rem;
   border-radius: 10px;
   margin-top: 10rem;
   font-family: Arial, Helvetica, sans-serif;
   padding: 2rem;
   color: white;
}

.toititl{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
  
   
}

.bnttt{
    background-color: rgba(0, 0, 0, 0.315);
    width: 10rem;
    height: 3rem;
    padding: 0.7rem;
    border-radius: 10px;
    color: white;
}

/*-------------------------------------------------------Timer--------------------------*/
.glob{
    text-align: center;
}
.blok{
    display: inline-block;
}
.time-numb{
    font-size: 4rem;
    
}
.time-text{
    display: flex;
    justify-content: space-around;
    color: gray;
}

.trobnt{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}